background-color{
   color:  #fffbf7;
}


#title{
    color: #025157;
}

.texto1{
    color: #46484c;
}

.promocional{
    color:   #8b8b8bcc;
}

.boton{
    color: #fff;
}

#subtitle{
    color: royalblue;
}